/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.wrapper{
	border-radius: 10px;
	border: 2px solid black;
	 
}
.btn{
	border-radius: 100px;
}
.table_head{
	height: 75px; 
}

#main_table{
	table-layout:fixed;
}
.div-table-content {
	height:150px;
	overflow-y:auto;
}



#main_wrapper{
	height: 650px;
	overflow: auto;
}
#salary{
	color: red;
	font-weight: bold;
	font-size: 22pt;
}

body{
	background-image: url(../assets/bball.jpg)
}

#body_main{
	background-color: white;
	margin-top: 70px;
	height: 1100px;
}

.navbar{
	background-color: grey;
	height: 70px;
	
}

.p_details{
	font-size: 14pt;
}


// .bottom {
// 	background: #724442;
// 	height 75px;
// }