<div class="container" id="about_main">

	<br>
	<br>
	<h1>Welcome to Fanta<span id="daily">$</span>y Life</h1> 
	<br><br>
	<%# if current_user %>
	<%# else %>     
    <!-- <a class="btn btn-warning" href="/users/sign_up"><h3>SignUp</h3></a>
    <a class="btn btn-warning" href="/users/sign_in"><h3>LogIn</h3></a> -->
  <%# end %>
  <h1 id="daily">Daily Fantasy Basketball Leagues</h1>
</div>