

<div class="container" id="body_main">
	<h2 id="leauge">{{contestDesc}}</h2>
	<p>Entries: {{gameEntryCount}} / {{totalPlayersAllowed}}  Entry fee: ${{contestFee}} Prize: $150,000<p>

	<div id="games_wrapper">
		<div id="games" ng-repeat="schedule in today_schedule">

			<div id="game_blocks">
				<p>{{schedule.away_name}}<br>{{schedule.home_name}}<br>{{schedule.time}}</p>
			</div>

		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-xs-7">

				<h3>Available Players</h3>
				
					<div class="col-xs-8">
						<ul class="nav nav-pills" x-ng-init="filterPos=''">
							<!-- x-ng-class will equal 'active' if pos(ng-repeated == $scope.fiterPos)
								or class will be active on All if pos equals All or blank -->
						  <li role="presentation" ng-repeat="pos in positionType" x-ng-class="{active:pos==filterPos||(pos=='All' && filterPos=='')}" ng-click="setPosFilter(pos);"><a>{{pos}}</a></li>
						</ul>
					</div>
					<div class="col-xs-4" x-ng-init="search=''">
						<input placeholder="search players" ng-model="search" class="form-control">
					</div><br><br>
			
			
			<div class="wrapper">
				<table class="table table-condensed table-fixed-header" id="main_table">
					<thead class="header">
						<tr class="trow" >
							<th class="table_small">Pos</th>
							<th class="table_big" data-sortable="true">Name</th>
							<th class="table_big" data-sortable="true">Fan Avg</th>
							<th class="table_main" data-sortable="true">Cost</th>
							<th class="table_small">Select</th>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr class="trow" ng-repeat="player in todays_players | filter:{name:search, position:filterPos} | orderBy: 'fantasy' :true" x-ng-class="{success: selections['{{player.name}}']}">
							<td class="table_small">{{player.position}}</td>
							<td class="table_big">{{player.name}}</td>
							<td class="table_big">{{player.fantasy}}</td>
							<td class="table_main">{{player.cost | number}}</td>
							<td class="table_small"><button ng-hide="selections['{{player.name}}']" ng-click="picks(player, $index)" class="btn btn-primary">+</button><button ng-show="selections['{{player.name}}']" ng-click="dropPick(player)" class="btn btn-danger">-</button></td>
						</tr>
					</tbody>
				</table>
			</div> <!-- End of "wrapper" -->
		</div>	<!-- End of "col-md-6" -->

		
			
		
		
		
		<div class="col-xs-5">
			<h3>Your Lineup</h3>
			<p id="salary" ng-model="user.cost">${{salary | number}}</p>
			<p>Salary Remaining</p>
			<div class="wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul ng-repeat="myplayer in myTeam">
							
							<li class="team">
								<div id="picture"><img src="{{myplayer.pic}}" height="72" width="72" ></div>
								<div id="position">{{myplayer.position}}</div> 
								<div id="playername">{{myplayer.player}}</div>
								<div id="cost" ng-show="loading[$index]">{{myplayer.cost | number}} <button ng-click="removePick(myplayer, $index)" class="btn btn-danger">-</button></div>
								
								
								<!-- <div id="playerpos">
									
									<p>team vs team</p>
								</div> -->
							</li>

						</ul>
<!-- 						<table class="table">
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Cost</th>
								<th>Remove</th>
							</tr>
							<tr ng-repeat="myplayer in myTeam" class="rows">
								<td ><img src="{{myplayer.pic}}" height="72" width="72" ><p class="p_details">{{myplayer.player}}</p></td>
								<td>{{myplayer.position}}</td>
								<td>{{myplayer.cost | number}}</td>
								<td ng-show="position != 'Empty'">
									<button ng-click="removePick(myplayer, $index)" class="btn btn-danger">-</button>
								</td>


							</tr>
						</table> -->
					</div>
					<div class="panel-footer"><button ng-click="addEntry()" class="btn btn-success">Submit Team</button>
					<span class="right"><p id="clearAll" ng-click="clearAll()">Clear All</p></span>
					</div>

				</div>

			<div> <!-- End of "wrapper" -->
		</div>	<!-- End of "col-md-6" -->
		
	</div>
	
	<div class="footer">

	</div>
</div>


