<h1>HOME PAGE</h1>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<!-- <ul class="nav nav-tabs">
			  <li role="presentation" ng-class="navClass"><a ng-click="changeFilter()">All</a></li>
			  <li role="presentation" ng-class="navClass"><a ng-click="changeFilter()">PG</a></li>
			  <li role="presentation"><a>SG</a></li>
			  <li role="presentation"><a>SF</a></li>
			  <li role="presentation"><a>PF</a></li>
			  <li role="presentation"><a>C</a></li>
			</ul> -->
			
				<h3>Available Players</h3>
				{{xyz}}
					<div class="col-xs-8">
						<ul class="nav nav-pills" x-ng-init="filterPos=''">
							<!-- x-ng-class will equal 'active' if pos(ng-repeated == $scope.fiterPos)
								or class will be active on All if pos equals All or blank -->
						  <li role="presentation" ng-repeat="pos in positionType" x-ng-class="{active:pos==filterPos||(pos=='All' && filterPos=='')}" ng-click="setPosFilter(pos);"><a>{{pos}}</a></li>
						</ul>
					</div>
					<div class="col-xs-4" x-ng-init="search=''">
						<input placeholder="search players" ng-model="search" class="form-control">
					</div><br><br><br>
			
			
			<div class="wrapper">
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th>Select</th>
					</tr>
					<tr ng-repeat="player in players | filter:{name:search, position:filterPos}" class="rows">
						<td>{{player.name}}</td>
						<td>{{player.position}}</td>
						<td><button ng-click="picks(player, $index)" class="btn btn-primary">+</button></td>
					</tr>
				</table>
			</div> <!-- End of "wrapper" -->
		</div>	<!-- End of "col-md-6" -->

		
			
		
		
		
		<div class="col-md-4">
			<h3>Your Lineup</h3>
			<div class="wrapper">
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Position</th>
						<th></th>
					</tr>
					<tr ng-repeat="myplayer in myTeam" class="rows">
						<td>{{myplayer.player}}</td>
						<td>{{myplayer.position}}</td>
						<td><button ng-click="removePick(myplayer, $index)" class="btn btn-danger">-</button></td>
					</tr>
				</table>
			<div> <!-- End of "wrapper" -->
		</div>	<!-- End of "col-md-6" -->
	</div>
</div>