
<div class="container" id="body_main">

	<div class="row" id="contestList">
		<div class="col-md-3">
			<div id="addContestWrapper">
				<form class="form-horizontal" id="createContest">

				  <div class="form-group">
				  	<label for="exampleInputEmail1">Contest Type</label>
						<select class="form-control" ng-model="challenge">
							<option value="0">Tournament Challenge</option>
						  <option value="1">50/50 League</option>
						</select>
				  </div>

				  <div class="form-group">
				    <label for="inputEntryNumber">Contest Size</label>
				    <input type="text" class="form-control" id="inputEntryNumber" placeholder="Max # of Entries" ng-model="c_size">
				  </div>

				  <div class="form-group">
				     <label for="exampleInputAmount">Amount (in dollars)</label>
				    <div class="input-group">
				      <div class="input-group-addon">$</div>
				      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="amount">
				      <div class="input-group-addon">.00</div>
				    </div>
				  </div>

				</form>
				
				<div class="footer">
				  <button type="button" class="btn btn-primary" ng-click="addContest()">Submit</button>
				</div>
			</div>
		</div> <!-- end Col-md-4 -->

		<div class="col-md-9">
	
			<div class="contest_wrapper">

				<div class="contest_wrapper">
					<table class="table table-bordered table-striped table-fixed-header" id="main_table">
						<thead>
						<tr class="trow">
							<th class="table_huge">Contest ID</th>
							<th class="table_big">League Description</th>
							<th class="table_main">Entries</th>
							<th class="table_small">Size</th>
							<th class="table_small">Fee</th>
							<th class="table_small">Prize</th>
							<th class="table_big">Play</th>
						</tr>
						</thead>
						<tbody id="tbody">
						<tr ng-repeat="contest in todaysContests" >
							<td class="table_huge"><a ui-sref="team({ contest_id: contest._id.$oid})">{{contest._id.$oid}}</a></td>
							<td class="table_big">{{contest.description}}</td>
							<td class="table_main">{{contest.players_count}}</td>
							<td class="table_small">{{contest.num_players}}</td>
							<td class="table_small">{{contest.fee}}</td>
							<td class="table_small">{{contest.contest_prize}}</td>
							<td class="table_big"><a ui-sref="entry({ contest_id: contest._id.$oid})", class="btn btn-success">Enter</a></td>
						</tr>
						</tbody>
					</table>

				</div>

			</div>

	</div>
</div>

</div>



