<div class="container" id="body_main">
	<h1>Teams</h1>
	<br>
	
	<div class="contest_wrapper">

		<div class="contest_wrapper">
			<table class="table table-bordered table-striped table-fixed-header">
				<thead class="header">
				<tr>
					<th>user_id</th>
					<th>Point Gaurd</th>
					<th>Shooting Gaurd</th>
					<th>Small Forward</th>
					<th>Power Forward</th>
					<th>Center</th>
					<th>Score</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="team in gameEntry">
					<td>{{team.user_id}}</a></td>
					<td>{{team.pg_name}}</a></td>
					<td>{{team.sg_name}}</a></td>
					<td>{{team.sf_name}}</a></td>
					<td>{{team.pf_name}}</a></td>
					<td>{{team.c_name}}</a></td>
					<td>{{team.fan_points}}</a></td>
				</tr>
				</tbody>
			</table>

		</div>

	</div>

</div>